include README.md
include pyproject.toml
include setup.py
recursive-include ember *.py *.pyi *.so
recursive-include ember/datasets *.py
recursive-include ember/models *.py
recursive-include ember/models/supervised *.py
recursive-include ember/models/unsupervised *.py
recursive-include ember/objectives *.py
recursive-include ember/optimizers *.py
recursive-include ember/samplers *.py
recursive-include aten *
# global-exclude __pycache__ *.pyc *.pyo *.pyd
